@import "./scss/reset.scss", "./scss/variable" ;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');



body{
    background-color: $backgroundColor;
    font-family: 'Amatic SC', cursive;
}

h1{
    font-family: 'Hubballi', cursive;
}