@import "../../scss/variable" ;





.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

    .card-container{
        background-color: $cardNavBgColor;
        margin: 1rem;
        padding: 1rem;
        position: relative;
        border-radius: 1rem;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.8);
        overflow:hidden;

        &:hover .card-over{
            transform: translateY(0%);
        }


    }
        .title{
            color: $backgroundColor;
            
            
            
        }

        img{
            width: 500px;
            height: 350px;
            object-fit: cover;
            /* filter: grayscale(0%); */
            &:hover{
                filter: grayscale(100%);
            }
        }
    

    .card-over{
        
        color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        font-size: 1.5rem;
        padding: 1rem;
        transform: translateY(100%);
        z-index: 1;
        transition: transform 1s ease-in-out ;
    }
}