@import "../../scss/variable";
@import "../../scss/mixin";

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: $cardNavBgColor ;

    a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        padding: 1rem;
        font-weight: bold;

        &:hover {
            background-color: $backgroundColor;
            color: $cardNavBgColor;
        }
        
    }
}


@include media-xsm {
    .navbar{
        flex-direction: column;
        text-align: center;
    }
}

@include media-sm {
    .navbar{
        flex-direction: row;
        text-align: center;
    }
}