@import "../../scss/variable";

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: $cardNavBgColor ;

    a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
        padding: 1rem;
        font-weight: bold;

        &:hover {
            background-color: $backgroundColor;
            color: $cardNavBgColor;
        }
        
    }
}